@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color: #3a3a3a;
    font: normal 15pt arial;
}

header{
    background-color: #000000;
    color:white;
    text-align: center;
    text-shadow: 5px 5px 10px #161515e1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

input[type="text"] {
    border: none;
    padding: 10px;
    width: 50%;
    height: 3.5vw;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}

input[type="text"]:focus {
    box-shadow:0 0 0 5px #3a3a3a;
}

section {
    background-color: white;
    width: 1200px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px #161515e1;
    margin-top: 70px;
}

#resultado{
    text-align: center;
    padding: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 70px;
}

.img-product {
    height: 200px !important;
}

.col{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-family: 'Lobster', sans-serif;
    font-size: 60px;
}

p{
    cursor: pointer;
}